[Desktop Entry]
Version=1.0
Type=Application
Exec=audiocw-gui
Icon=audiocw-gui.png
StartupNotify=true
Terminal=false
Categories=Utility;
Keywords=Morse;CW;HAM Utility;
Name=AudioCW
Comment=Send Morse over Audio
